<subheader>
	<h1><%= content.header %></h1>
	<p><%= content.subheader %></p>
</subheader>
<article class="about">
	<div class="row">
		<h2 class="col-md-3 section-title"><%= content.resumeHeaderBasics %></h2>
		<p class="col-md-8 lead border-bottom-section"><%= content.resumeSectionBasics %></p>
	</div>
	<!-- Experience -->
	<div class="row">
		<h2 class="col-md-3 section-title"><%= content.resumeHeaderExperience %></h2>
		<!--CGI section -->
		<div class="col-md-8 position">
			<h3 class="position-title"><%= content.resumePositionCgi %></h3>
			<p><%= content.resumePositionCgiParagraph %></p>
			<ul class="col-md-8 three-quarter">
				<li>HTML5</li>
				<li>SASS/LESS/CSS</li>
				<li>RequireJS</li>
				<li>jQuery</li>
				<li>JavaScript</li>
				<li>UnderscoreJS</li>
				<li>BackboneJS</li>
				<li>AngularJS</li>
				<li>Section 508</li>
				<li>Adobe Photoshop</li>
				<li>JAWS</li>
				<li>NVDA</li>
				<li>GIT</li>
				<li>SVN</li>
				<li>Grunt</li>
			</ul>
		</div>
		<!-- INTX Section -->
		<div class="col-md-offset-3 col-md-8 position">
			<h3 class="position-title"><%= content.resumePositionIntx %></h3>
			<p><%= content.resumePositionIntxParagraph %></p>
			<ul class="col-md-5 half">
				<li>(X)HTML/HTML5</li>
				<li>CSS 3.0</li>
				<li>jQuery</li>
				<li>JavaScript</li>
				<li>OpenCMS</li>
				<li><abbr title="Americans with Disabilities Act">ADA</abbr>/<abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0</li>
			</ul>
		</div>
		<!-- ESI Section -->
		<div class="col-md-offset-3 col-md-8 position">
			<h3 class="position-title"><%= content.resumePositionEsi %></h3>
			<p><%= content.resumePositionEsiParagraph %></p>
			<ul class="col-md-5 half">
				<li>(X)HTML</li>
				<li>CSS 3.0</li>
				<li>jQuery</li>
				<li>JavaScript</li>
				<li>Section 508</li>
				<li>Adobe Photoshop</li>
				<li>Adobe Illustrator</li>
				<li>Adobe Indesign</li>
			</ul>
		</div>
		<!-- Simon DR Section -->
		<div class="col-md-offset-3 col-md-8 position border-bottom-section">
			<h3 class="position-title"><%= content.resumePositionSimonDr %></h3>
			<p><%= content.resumePositionSimonDrParagraph %></p>
			<ul class="col-md-5 half">
				<li>(X)HTML</li>
				<li>CSS 3.0</li>
				<li>jQuery</li>
				<li>Adobe Photoshop</li>
				<li>Adobe Illustrator</li>
			</ul>
		</div>
	</div>
	<!-- Other Experience -->
	<div class="row">
		<h2 class="col-md-3 section-title"><%= content.resumeHeaderOtherExperience %></h2>
		<!--Navy section -->
		<div class="col-md-8 position border-bottom-section">
			<h3 class="position-title"><%= content.resumeHeaderOtherExperienceNavy %></h3>
			<p><%= content.resumeOtherExperienceNavyParagraph %></p>
		</div>
	</div>
	<!-- Education -->
	<div class="row education">
		<h2 class="col-md-3 section-title"><%= content.resumeHeaderEducation %></h2>
		<!--first section -->
		<div class="col-md-4 position">
			<h3 class="position-title"><%= content.resumeHeaderEducationRadford %></h3>
			<p class="school"><%= content.resumeHeaderEducationRadfordName %></p>
			<h3 class="position-title"><%= content.resumeHeaderEducationNrcc1 %></h3>
			<p class="school"><%= content.resumeHeaderEducationNrccName1 %></p>
			<h3 class="position-title"><%= content.resumeHeaderEducationNrcc2 %></h3>
			<p class="school"><%= content.resumeHeaderEducationNrccName2 %></p>
		</div>
		<!--second section -->
		<div class="col-md-4 position">
			<h3 class="position-title"><%= content.resumeHeaderEducationNCiw %></h3>
			<p class="school"><%= content.resumeHeaderEducationNCiwSchool %></p>
			<h3 class="position-title"><%= content.resumeHeaderEducationNEclasses %></h3>
			<ul class="school list-unstyled">
			<li><%= content.resumeHeaderEducationNEclasses1 %></li>
			<li><%= content.resumeHeaderEducationNEclasses2 %></li>
			<li><%= content.resumeHeaderEducationNEclasses3 %></li>
			</ul>
		</div>
	</div>
</article>