<subheader>
	<h1><%= content.header %></h1>
	<p><%= content.subheader %></p>
</subheader>
<contact>
	<p class="first">Reach Out.</p>
	<p class="desc"><%= content.intro %></p>
	<ul>
	<li>
		<a href="https://www.linkedin.com/in/alan-nugent-20301914" class="fa fa-linkedin fa-3x" target="_blank" title="Contact me through Linkedin"></a>
	</li>
	<li class="email-address">
		
		<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">moc.tnegunnala@nala</span></noscript>
	</li>
	</ul>
</contact>
