<div class="row subheader text-center">
	<h1>Ui/ux design &amp; development</h1>
	<p>Creating accessible, usable and responsive websites with the latest technologies.</p>
</div>
<div class="row home">
	<div class="col-md-4">
		<h2>Modern technology</h2>
		<p>Continually evolving as a developer is staying up to date with technologies. Whether picking up new HTML5 or CSS3 features or learning a new JavaScript library, it is paramount to stay on the tip of the spear.</p>
	</div>
	<div class="col-md-4">
		<h2>accessibility/usability</h2>
		<p>Continually evolving as a developer is staying up to date with technologies. Whether picking up new HTML5 or CSS3 features or learning a new JavaScript library, it is paramount to stay on the tip of the spear.</p>
	</div>
	<div class="col-md-4">
		<h2>web design</h2>
		<p>Continually evolving as a developer is staying up to date with technologies. Whether picking up new HTML5 or CSS3 features or learning a new JavaScript library, it is paramount to stay on the tip of the spear.</p>
	</div>
</div>