<subheader>
	<h1><%= content.header %></h1>
	<p><%= content.subheader %></p>
</subheader>
<div class="row home">
	<div class="col-md-4">
		<h2><%= content.tripleHeader1 %></h2>
		<p><%= content.tripleParagraph1 %></p>
	</div>
	<div class="col-md-4">
		<h2><%= content.tripleHeader2 %></h2>
		<p><%= content.tripleParagraph2 %></p>
	</div>
	<div class="col-md-4">
		<h2><%= content.tripleHeader3 %></h2>
		<p><%= content.tripleParagraph3 %></p>
	</div>
</div>
<div class="row">
	<div class="text-center">
		<a href="#about"><%= content.learnMoreLink%></a>
	</div>
</div>