<div class="row">
	<a class="pull-left" href="/#" title="Alan Nugent - Front end developer" id="headerLogo">Alan Nugent<small>Front End Developer</small></a>
	<button class="btn btn-default main-menu-toggle" data-toggle="collapse" data-target="#header-navigation">
	<span class="glyphicon glyphicon-menu-hamburger">
	<span class="sr-only">Toggle Menu</span>
	</span>
	</button>
	<nav class="collapse" id="header-navigation">
		<ul class="nav nav-pills">
			<% _.each(content.headerNav, function(obj, index){ %>
			<li>
				<a href="<%= obj.linkText %>" title="<%= obj.title %>"><%= obj.text %></a>
			</li>
			<% }) %>
		</ul>
	</nav>
</div>