<subheader>
<h1><%= content.header %></h1>
<p><%= content.subheader %></p>
</subheader>
<work>
	<website>
		<figure>
		<img src="https://www.fontfont.com/staticcontent/inuseimages/original/FF_Chambers_Sans_Web-Screenshot_Website_Sentres3.jpg?1315257580" alt="image showing xxx website">
			<figcaption>XXX website</figcaption>
		</figure>
		<description>
			<h2>Website Title</h2>
			<p>Description of project or website.</p>
		</description>
	</website>
	<website>
		<figure>
		<img src="https://www.fontfont.com/staticcontent/inuseimages/original/FF_Chambers_Sans_Web-Screenshot_Website_Sentres3.jpg?1315257580" alt="image showing xxx website">
			<figcaption>XXX website</figcaption>
		</figure>
		<description>
			<h2>Website Title</h2>
			<p>Description of project or website.</p>
		</description>
	</website>
	<website>
		<figure>
		<img src="https://www.fontfont.com/staticcontent/inuseimages/original/FF_Chambers_Sans_Web-Screenshot_Website_Sentres3.jpg?1315257580" alt="image showing xxx website">
			<figcaption>XXX website</figcaption>
		</figure>
		<description>
			<h2>Website Title</h2>
			<p>Description of project or website.</p>
		</description>
	</website>
</work>