<subheader>
    <h1><%= content.header %></h1>
    <p>
        <%= content.subheader %>
    </p>
</subheader>
<work>
    <website>
        <figure>
            <img src="/images/uspto.gov.jpg" alt="image showing USPTO website">
            <figcaption>US Patent Office website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/CFP.jpg" alt="image showing Catalogue For Philanthropy website">
            <figcaption>Catalogue For Philanthropy website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/dfc.jpg" alt="image showing medicare.gov Dialysis Facility Compare website">
            <figcaption>Dialysis Facility Compare website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/mgov.jpg" alt="image showing medicare.gov website">
            <figcaption>Medicare website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/assets.jpg" alt="image showing CMS Assets website">
            <figcaption>CMS Assets website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/intx-member.jpg" alt="image showing Identity Guard member website">
            <figcaption>Identity Guard member portal website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
    <website>
        <figure>
            <img src="/images/intx-marketing.jpg" alt="image showing Identity Guard website">
            <figcaption>Identity Guard marketing website</figcaption>
        </figure>
        <description>
            <h2>Website Title</h2>
            <p>Description of project or website.</p>
        </description>
    </website>
</work>
