<subheader>
    <h1><%= content.header %></h1>
    <p>
        <%= content.subheader %>
    </p>
</subheader>
<work>
    <website>
        <figure>
            <img src="images/uspto.gov.jpg" alt="image showing USPTO website">
            <figcaption><a href="https://my.uspto.gov/" target="_blank">US Patent Office website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.myuspto_header %></h2>
            <p><%= content.myuspto_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/phr.jpg" alt="image showing Medicare.gov Physician Compare website">
            <figcaption><a href="https://www.medicare.gov/physiciancompare/" target="_blank">Physician Compare website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.phr_header %></h2>
            <p><%= content.phr_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/CFP.jpg" alt="image showing Catalogue For Philanthropy website">
            <figcaption><a href="http://www.cfp-dc.org/" target="_blank">Catalogue For Philanthropy website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.cfp_header %></h2>
            <p><%= content.cfp_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/dfc.jpg" alt="image showing Medicare.gov Dialysis Facility Compare website">
            <figcaption><a href="https://www.medicare.gov/dialysisfacilitycompare/" target="_blank">Dialysis Facility Compare website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.dfc_header %></h2>
            <p><%= content.dfc_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/mgov.jpg" alt="image showing medicare.gov website">
            <figcaption><a href="" target="_blank">Medicare website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.mgov_header %></h2>
            <p><%= content.mgov_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/assets.jpg" alt="image showing CMS Assets website">
            <figcaption><a href="https://www.medicare.gov/" target="_blank">CMS Assets website</a></figcaption>

        </figure>
        <description>
            <h2><%= content.assets_header %></h2>
            <p><%= content.assets_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/intx-member.jpg" alt="image showing Identity Guard member website">
            <figcaption><a href="https://secure.identityguard.com/SignonPage.aspx" target="_blank">Identity Guard member portal website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.idg_m_header %></h2>
            <p><%= content.idg_m_desc %></p>
        </description>
    </website>
    <website>
        <figure>
            <img src="images/intx-marketing.jpg" alt="image showing Identity Guard website">
            <figcaption><a href="http://www.identityguard.com/" target="_blank">Identity Guard marketing website</a></figcaption>
        </figure>
        <description>
            <h2><%= content.idg_header %></h2>
            <p><%= content.idg_desc %></p>
        </description>
    </website>
</work>
