header {
    @extend .container-fluid;
    background: #efefef;

    #headerLogo {
        color: #454B66;
        @include font-size-REM(44);

        @media screen and (min-width:$screen-md-min) {
            @include font-size-REM(22);
        }
        margin: 10px 0 10px 10px;
        font-family: 'OpenSansBolder';
        line-height: .8;
        letter-spacing: .04rem;
        text-align: center;

        small {
            display: block;
            @include font-size-REM(22);

            @media screen and (min-width:$screen-md-min) {
                @include font-size-REM(13);
                text-align: center;
            }
            font-family: 'OpenSansRegular';
            letter-spacing: 0.12rem;
            margin-top: 11px;
            text-align: left;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .main-menu-toggle {
        display: block;
        border-color: #0160aa;
        color: #0160aa;
        float: left;
        margin-right: 15px;
        margin-top: 10px;

        @media screen and (min-width:$screen-xs-min) {
            float: right;
            display: inline-block;
        }
        @media screen and (max-width:$screen-md-min) {
            margin-left: 15px;
            margin-bottom: 10px;
        }
        &:focus, &:hover {
            background-color: #0160aa;
            border-color: #0160aa;
            color: #fff;
        }
    }

    /* nav {
         //position: absolute !important;
         // width: 100%;
         //top: 144px;
         @media screen and (min-width: $screen-md-min) {
             // right: 0px;
             // width: 100px;
             // top: 44px;
         }
         background-color: #efefef;
         li {
             @media screen and (max-width: $screen-md-min) {
                 float: none !important;
                 text-align: center;
             }
             a {
                 font-family: 'OpenSansSemibold';
                 font-size: 15px;
                 padding: 0 15px;
                 text-transform: uppercase;
             }
         }
     }*/
}
subheader {
    @extend .row;
    @extend .text-center;
    background-color: #2e3740;
    display: block;
    padding-bottom: 75px;
    padding-top: 75px;

    h1 {
        color: #CF5C36;
        font-family: 'OpenSansBolder';
        @include font-size-REM(25);

        @media screen and (min-width:$screen-sm-min) {
            @include font-size-REM(40);
        }
        text-transform: uppercase;
        letter-spacing: .65rem;
    }
    p {
        color: #fff;
        font-family: 'OpenSansLight';
        @include font-size-REM(18);
        letter-spacing: .15rem;
    }
}